DB_URL=jdbc:oracle:thin:@localhost:1521/FREEPDB1
DB_USERNAME=ttait
DB_PASSWORD=

JWT_ISSUER=ttait
JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_VALIDITY_SECONDS=14400

FILE_UPLOAD_DIR=./uploads
CSV_IMPORT_ENABLED=false
CSV_IMPORT_STATION_ENABLED=true
CSV_IMPORT_USAGE_ENABLED=false
CSV_IMPORT_STATION_FILE_PATH=C:/tta-it-data/station
CSV_IMPORT_USAGE_DIR_PATH=C:/tta-it-data/usage
CSV_IMPORT_STATION_CHARSET=UTF-8
CSV_IMPORT_USAGE_CHARSET=MS949

ORACLE_ROOT_PASSWORD=
APP_USER=ttait
APP_USER_PASSWORD=
