<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttait.domain.stationusage.mapper.StationUsageStatMapper">

    <delete id="deleteAll">
        DELETE FROM t_station_usage_stat
    </delete>

    <update id="restartSequence">
        ALTER SEQUENCE station_usage_stat_seq RESTART START WITH 1
    </update>

    <select id="findNextIds" resultType="long">
        SELECT station_usage_stat_seq.NEXTVAL
        FROM dual
        CONNECT BY LEVEL &lt;= #{count}
    </select>

    <insert id="insertAll">
        INSERT ALL
        <foreach collection="usageStats" item="usage">
            INTO t_station_usage_stat (
                id,
                stat_date,
                station_code,
                rental_type,
                gender,
                age_group,
                usage_count,
                exercise_amount,
                carbon_amount,
                travel_distance,
                usage_duration_minutes,
                created_at
            ) VALUES (
                #{usage.id},
                #{usage.statDate},
                #{usage.stationCode},
                #{usage.rentalType},
                #{usage.gender},
                #{usage.ageGroup},
                #{usage.usageCount},
                #{usage.exerciseAmount},
                #{usage.carbonAmount},
                #{usage.travelDistance},
                #{usage.usageDurationMinutes},
                SYSTIMESTAMP
            )
        </foreach>
        SELECT 1 FROM dual
    </insert>
</mapper>
